@use "../abstracts/" as *;
.header {
  padding-top: 19px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      color: $light-text-color;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;

      @include tablet {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .header-list {
      display: flex;
      flex: 1;
      gap: 21px;
      margin-left: 87px;

      @include tablet {
        margin-left: 0;
        flex: none;
        gap: 18px;
      }

      @include mobile {
        display: none;
      }

      .header-list-item {
        .item__link {
          letter-spacing: 0.2px;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: $light-text-color;

          @include tablet {
            font-size: 12px;
          }
        }
      }
    }

    .header-btn {
      @include mobile {
        display: none;
      }
      .btn-login,
      .btn-join-us {
        width: 137px;
        height: 52px;
        cursor: pointer;
        color: $light-text-color;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.2px;

        @include tablet {
          width: 100px;
          height: 40px;
          font-size: 12px;
        }
      }
      .btn-login {
        background-color: transparent;
        outline: none;
        border: none;
      }
      .btn-join-us {
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;

        .btn-join-us__text {
          margin-right: 12px;
        }
      }
    }

    .header__menu {
      display: none;

      @include mobile {
        display: block;
      }
    }

    .header__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
      animation: fadeIn linear 0.2s;
    }

    #header-mobile-input {
      display: none;
    }

    #header-mobile-input:checked ~ .header-list-mobile {
      transform: translateX(0);
      opacity: 1;
    }

    #header-mobile-input:checked ~ .header__overlay {
      display: block;
    }

    .header-list-mobile {
      padding-top: 36px;
      padding-left: 24px;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 320px;
      max-width: 100%;
      background-color: $light-background-color;
      transform: translateX(100%);
      opacity: 0;
      transition: all linear 0.2s;

      .header-list-item {
        padding: 8px 0;

        .item__link {
          color: $text-color;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .close-list-item {
        width: 26px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
