@use "../abstracts/" as *;

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0;

  @include tablet {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }

  @include mobile {
    padding: 0 15px;
    max-width: inherit;
  }
}
