@use "../abstracts/" as *;

.section-5 {
  padding-top: 112px;
  padding-bottom: 192px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .section-5-content {
    max-width: 420px;
    @include tablet {
      margin: 0 auto;
    }
    .section-5-content__tag {
      color: $primary-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 10px;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .section-5-content__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      color: $text-color;
      margin-bottom: 10px;

      @include tablet {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .section-5-content__msg {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $text-sub-color;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .section-5-list-card {
    margin-top: 112px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30;

    @include tablet {
      margin-top: 80px;
    }

    @include mobile {
      margin-top: 60px;
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: left;
    }
  }
}
