@use "../abstracts/" as *;

.section-7 {
  padding-top: 160px;
  padding-bottom: 97px;
  .section-7-content {
    max-width: 420px;
    @include tablet {
      margin: 0 auto;
    }
    .section-7-content__tag {
      color: $primary-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 10px;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .section-7-content__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      color: $text-color;
      margin-bottom: 10px;

      @include tablet {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .section-7-content__msg {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $text-sub-color;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .section-7-list-card {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30;
  }
}
