@use "../abstracts/" as *;

.section-5 {
  padding-top: 112px;
  padding-bottom: 192px;
  .section-5-content {
    max-width: 420px;
    .section-5-content__tag {
      color: $primary-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 10px;
    }
    .section-5-content__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      color: $text-color;
      margin-bottom: 10px;
    }
    .section-5-content__msg {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $text-sub-color;
    }
  }

  .section-5-list-card {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
  }
}
