<section class="section-5 container">
  <div class="section-5-content">
    <h6 class="section-5-content__tag">Courses</h6>
    <h2 class="section-5-content__title">Get Quality Education</h2>
    <p class="section-5-content__msg">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
  </div>
  <div class="section-5-list-card">
    <include src="./components/section-5-card.html"></include>
    <include src="./components/section-5-card.html"></include>
    <include src="./components/section-5-card.html"></include>
    <include src="./components/section-5-card.html"></include>
  </div>
</section>
