<section class="section-5 container">
  <div class="section-5-content">
    <h6 class="section-5-content__tag">Courses</h6>
    <h2 class="section-5-content__title">Get Quality Education</h2>
    <p class="section-5-content__msg">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
  </div>
  <div class="section-5-list-card">
    <include
      src="./components/section-5-card.html"
      locals='{
      "src": "../assets/images/section5/product1.png",
      "headingTitle": "Books Liberary",
      "title": "Our Experts Teacher",
      "subtitle": "We focus on ergonomics and meeting you...."
      }'
    ></include>
    <include
      src="./components/section-5-card.html"
      locals='{
      "src": "../assets/images/section5/product2.png",
      "headingTitle": "training Courses",
      "title": "Our Experts Teacher",
      "subtitle": "We focus on ergonomics and meeting you...."
      }'
    ></include>
    <include
      src="./components/section-5-card.html"
      locals='{
      "src": "../assets/images/section5/product3.png",
      "headingTitle": "Expert instruction",
      "title": "Our Experts Teacher",
      "subtitle": "We focus on ergonomics and meeting you...."
      }'
    ></include>
    <include
      src="./components/section-5-card.html"
      locals='{
      "src": "../assets/images/section5/product4.png",
      "headingTitle": "training Courses",
      "title": "Our Experts Teacher",
      "subtitle": "We focus on ergonomics and meeting you...."
      }'
    ></include>
  </div>
</section>
