<section class="section-2">
  <include
    src="./components/section-2-card.html"
    locals='{
    "icon": "../assets/icons/screen.svg",
    "title": "Lifetime access",
    "subTitle": "The gradual accumulation of information about atomic and small-scale behaviour..."
    }'
  >
  </include>
  <include
    src="./components/section-2-card.html"
    locals='{
    "icon": "../assets/icons/training.svg",
    "title": "training Courses",
    "subTitle": "The gradual accumulation of information about atomic and small-scale behaviour..."
    }'
  >
  </include
  ><include
    src="./components/section-2-card.html"
    locals='{
    "icon": "../assets/icons/book.svg",
    "title": "Expert instruction",
    "subTitle": "The gradual accumulation of information about atomic and small-scale behaviour..."
    }'
  >
  </include>
</section>
