<section class="section-6">
  <div class="container">
    <div class="section-6-content">
      <h6 class="section-6-content__tag">Practice Advice</h6>
      <h2 class="section-6-content__title">Most Popular Courses</h2>
      <p class="section-6-content__msg">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
    </div>
    <div class="section-6-list-card">
      <include src="./components/section-6-card.html"></include>
      <include src="./components/section-6-card.html"></include>
      <include src="./components/section-6-card.html"></include>
    </div>
  </div>
</section>
