<section class="section-7">
  <div class="container">
    <div class="section-7-content">
      <h6 class="section-7-content__tag">Testimonials</h6>
      <h2 class="section-7-content__title">Our Popular Courses</h2>
      <p class="section-7-content__msg">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
    </div>
    <div class="section-7-list-card">
      <include
        src="./components/section-7-card.html"
        locals='{
        "src": "../assets/images/section7/avatar1.png"
        }'
      ></include>
      <include
        src="./components/section-7-card.html"
        locals='{
        "src": "../assets/images/section7/avatar2.png"
        }'
      ></include>
    </div>
  </div>
</section>
