<section class="section-8">
  <div class="container">
    <div class="section-8-content">
      <h6 class="section-8-content__tag">Testimonials</h6>
      <h2 class="section-8-content__title">Our Popular Courses</h2>
      <p class="section-8-content__msg">
        Problems trying to resolve the conflict between <br />
        the two major realms of Classical physics: Newtonian mechanics
      </p>
    </div>
    <div class="input-group">
      <input placeholder="Your Email" type="text" />
      <button class="input-group__btn">Subscribe</button>
    </div>
  </div>
</section>
